body{
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
label{
    font-weight: bold;
    font-size: 110%;
    color: white;
}
input{
    padding: 8px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=text]{
    width: 70%;
}
input[type=number]{
    width: 70%;
}
textarea{
  width: 70%;
  height: 150px;
  padding: 8px 5px;    
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: auto;
  overflow: scroll;
}
.applybutton{
    background-color: #f23054;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 130%;
}
.apr{
    display: block;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 5%;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
   #amount {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  #amount::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #f23054; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
      input:out-of-range {
            border-color: red;
            content: "Outside allowable value range";
      }
#decision {
        font-weight: bold;
        font-size: 110%;
      }
#postSubmit {
        display: inline-block;
        text-align: center;
        width: 70%;
      }
.apr {
        display: inline-block;
        text-align: center;
        width: 50%;
      }
#centralBar {
  background-color: #0f3759;
  overflow: hidden;
  padding: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
}      
#textBox {
  width: 30%;
  padding-right: 150px;
  padding-bottom: 10px;
  margin: auto;
}
#centralBar form {
  padding: 0px;
  margin: auto;
  text-align: left;
  width: 40%;
  height: 50%;
}
#headline {
  font-weight: bold;
  color: white;
}
#headlineText {
  font-weight: bold;
  color: white
}
#headlineDesc {
  color: white
}
#centralBar p {
  color: white;
}
h2 {
  margin: auto;
}
#logo {
  display: block;
  margin: auto;
}